@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  transition: all 0.3s ease;
}

body {
  color: #1a202c;
  background: #f7f2f8;
  transition-property: background-color;
  transition-duration: 10ms;
  line-height: var(--chakra-lineHeights-base);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.Heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: black;
  position: relative;
  font-size: 30px;
}

.logut button {
  font-size: 15px;
  padding: 5px 10px;
}

.pp1 {
  font-size: 20px;
  margin-top: 15px;
}

.showPasswo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px 50px 20px 50px;
}

.passcode {
  width: 400px;
  height: 70px;
  background-color: grey;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.Addpass div:nth-child(1) {
  font-size: 20px;
}

.Addpass input {
  border-color: #fff;
  border: 1px solid #e0d7d7;
  outline: none;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1px 8px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 45%;
}

table,
thead,
tr,
th,
td {
  border: 1px solid purple;
  border-collapse: collapse;
  /* display: inline-block; */
  margin: 0px;
}

th,
td {
  padding: 5px 20px;
  text-align: center;
}

.addpassword-button {
  height: 40px;
  width: 27%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #674fa2;
  color: #fff;
}

.addpassword-button:hover {
  height: 45px;
  width: 28%;
}

.copy-to-clip,
.view-btn,
.delete-btn {
  height: 40px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #674fa2;
  color: #fff;
}
