.inner-login {
  width: 40%;
  background-color: #e2e8f0;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 30px 55px;
}

.outer-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 40px 100px;
  color: black;
}

.login-but {
  height: 40px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #674fa2;
  color: #fff;
}

.button-wrapper {
  margin-top: 25px;
  margin-bottom: 10px;
}

.button-wrapper button {
  transform: translateX(7px);
}

.login-nam {
  font-size: 48px;
  font-weight: 600;
  word-wrap: break-word;
  letter-spacing: 10px;
  text-align: center;
  color: #674fa2;
}

.outer-login-text p img {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.login-nam1 {
  margin-left: 80px;
  padding-top: 10px;
}

.up {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
}

.upper-login {
  display: flex;
}

.outer-login-text {
  width: 50%;
  text-align: center;
}

.login-email p {
  margin: 0;
  font-weight: 600;
}

.inner-login input {
  border-color: #fff;
  border: 1px solid #e0d7d7;
  outline: none;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  padding: 1px 5px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  height: 40px;
  border-radius: 7px;
  font-size: 17px;
}

.inner-login input:hover {
  outline: none;
}

.login-email .uname {
  margin: 0;
}

.login-password .pass {
  margin: 0;
  width: 100%;
}

.login-email p {
  padding-bottom: 5px;
}

.login-password p {
  margin: 0;
  font-weight: 600;
  padding-bottom: 5px;
}

.login-email,
.login-password {
  margin-top: 20px;
}

.outer-login-text p {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding-left: 5px;
  /* transform: translateX(-14px); */
  width: 100%;
}

.outer-login-text p p {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 40px;
  /* width: auto; */
  color: #674fa2;
  font-weight: 500;
}

@media only screen and (max-width: 996px) {
  .outer-login {
    flex-direction: column;
    margin: 0;
    gap: 20px;
    margin-bottom: 20px;
  }
  .outer-login-text {
    width: 100%;
    padding-top: 30px;
  }
  .outer-login-text p {
    display: block;
    width: 100%;
    padding-right: 20px;
  }
  .inner-login {
    width: 70%;
    margin-top: 0px;
  }
}
