.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  color: black;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.2rem;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navigation-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navigation-left img {
  padding: 0 40px;
  margin: 0;
  width: 40px;
  height: 40px;
}

.navigation-right button {
  font-size: large;
  height: 2.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  background-color: #3488ce;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.navigation-right button:hover {
  padding-left: 0.9em;
  padding-right: 0.9em;
  height: 2.5em;
  position: relative;
}

.navigation-left a {
  text-decoration: none;
  color: black;
  font-weight: inherit;
  font-size: inherit;
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 20px;
}

.navigation-left a:hover {
  background: #e9eef3;
}

.navigation-right {
  padding-right: 20px;
}

@media only screen and (max-width: 514px) {
  .navigation-wrapper {
    font-size: 18px;
  }

  .navigation-left {
    gap: 0;
  }
}
